<!doctype html>
<html lang="en">
<body>
<form action="/add" method="post">
    <label for="contractor">Contractor:</label>
    <select name="contractorName" required>
        <option disabled>Change contractor</option>
        {{#contractorNames}}
            <option>{{.}}</option>
        {{/contractorNames}}
    </select>
    <label for="contractDate">Contract Date:</label>
    <input type="date" name="contractDate" value="{{contractDate}}" required/>
    <label for="beginDate">Begin Date:</label>
    <input type="date" name="beginDate" value="{{beginDate}}" required/>
    <label for="endDate">End Date:</label>
    <input type="date" name="endDate" value="{{endDate}}" min ="{{beginDate}}" required/>
    <label for="expectedTotalCost">Expected total cost:</label>
    <input type="number" step="0.01" name="expectedTotalCost" value="{{expectedTotalCost}}" min="0" required/>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<p><a href="/contractors/add/add">Add new contractor</a></p>
<p><a href="/">Back</a></p>
</body>
</html>