<!DOCTYPE html>

<html lang="en">
<head>
</head>
<body>
<form action="/export" method="get">
    <table id="main_table" border='1' width="70%">
        <script type="text/javascript" src="js/main.js"></script>
    </table>

    <p>
        <input type="button" name="left" value="left" onClick="print_table_left()">
        <input type="button" name="right" value="right" onClick="print_table_right()">
    </p>

    <p><label><input type="radio" name="exportType" value="CSV" checked>Export to CSV</label></p>
    <p><label><input type="radio" name="exportType" value="PDF">Export To PDF</label></p>
    <p>
        <button type="submit" class="btn btn-primary">Submit</button>
    </p>
</form>
<p><a href="/add">Add contract</a></p>
<p><a href="/contractors/">Contractors</a></p>
</body>
</html>