<!DOCTYPE html>

<html lang="en">
    <head>
    </head>
    <body>
    <table id="main_table" border = '1' width="70%">
        <tr>
            <td>id</td>
            <td>contractor</td>
            <td>contract date</td>
            <td>start date</td>
            <td>end date</td>
            <td>total cost</td>
            <td>stages</td>
            <td>edit</td>
            <td>delete</td>
        </tr>
        <script type="text/javascript" src="js/main.js"></script>
    </table>
    </body>

<p><a href="/add">Add contract</a></p>
</html>