<!DOCTYPE html>

<html lang="en">
<head>
</head>
<body>
<form action="/export" method="post">
    <table id="main_table" border='1' width="70%">
        <tr>
            <td>export</td>
            <td>id</td>
            <td>contractor name</td>
            <td>contract date</td>
            <td>start date</td>
            <td>end date</td>
            <td>expected total cost</td>
            <td>calculated total cost</td>
            <td>recalculate total cost</td>
            <td>stages</td>
            <td>edit</td>
            <td>delete</td>
        </tr>
        <script type="text/javascript" src="js/main.js"></script>
    </table>

    <p><label><input type="radio" name="exportType" value="CSV" checked>Export to CSV</label></p>
    <p><label><input type="radio" name="exportType" value="PDF">Export To PDF</label></p>
    <p>
        <button type="submit" class="btn btn-primary">Submit</button>
    </p>
</form>
<p><a href="/add">Add contract</a></p>
<p><a href="/contractors/">Contractors</a></p>
</body>
</html>