<!DOCTYPE html>

<html lang="en">
<head>
</head>
<body>
<table id="main_table" border = '1' width="70%">
    <tr>
        <td>id</td>
        <td>name</td>
        <td>begin date</td>
        <td>end date</td>
        <td>cost</td>
        <td>payment date</td>
        <td>edit</td>
        <td>delete</td>
    </tr>
    <script type="text/javascript">
        function add_table(data) {
            return '<td>'
                    + data +
                    '</td>'
        }

        fetch("/api/stages/{{contractID}}")
                .then(response => response.json())
                .then(stages => {
                    stages.forEach(stage => {
                        const el = document.createElement('tr');
                        a = add_table(stage.id)
                        a += add_table(stage.name)
                        a += add_table(stage.beginDate)
                        a += add_table(stage.endDate)
                        a += add_table(stage.cost)
                        a += add_table(stage.paymentDate)
                        a += add_table('<a href="../../' + {{contractID}} +'/stages/' + stage.id + '/edit/">edit</a>')
                        a += add_table('<a href="../../' + {{contractID}} +'/stages/' + stage.id + '/delete/">delete</a>')
                        el.innerHTML = a + '</tr>'
                        document.querySelector('#main_table').append(el)
                    })
                })
    </script>
</table>
<p><a href="/contract/{{contractID}}/stages/add">Add stage</a></p>
<p><a href="/">Back</a></p>

</body>
</html>